# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = tab
end_of_line = crlf
trim_trailing_whitespace = false
insert_final_newline = false

[*.py]

charset = utf-8